page-home {
  .google-media-search {
    .cse input.gsc-input, input.gsc-input {
      //background-image: none !important;
    }
    .gcsc-branding, .gsc-orderby {
      display: none;
    }
    .gsc-input-box {
      input::placeholder {

      }
    }
    .gsc-search-button {
      //display: none;
    }
  }
  .frame-label {
    border: 1px solid grey;
    padding: 10px 5px;
    text-align: center;
  }
  iframe {
    border: 1px solid grey;
    display: none;
  }

  .error_frame {

  }

  .base-frame {
    background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100% 100%"><text fill="%23FF0000" x="50%" y="50%" font-family="\'Lucida Grande\', sans-serif" font-size="24" text-anchor="middle">Loading...</text></svg>') 0px 0px no-repeat;
  }

  .base-frame, #close-frame, .error_frame {
    display: none;
  }
}
